// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
// $content-width:    85%;
// $on-palm:          800px;
// $on-laptop:        90%;
// $on-medium:        1100px;
// $on-large:         1200px;
$content-width:    900px;
$on-palm:          700px;
$on-laptop:        900px;
$on-medium:        900px;
$on-large:         1100px;
