// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    80%;
$on-palm:          70%;
$on-laptop:        90%;
$on-medium:        900px;
$on-large:         1100px;

/*
// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    900px;
$on-palm:          700px;
$on-laptop:        900px;
$on-medium:        900px;
$on-large:         1100px;

*/